{% set portifolio = __SELF__.portifolio %}

 
<section id="project-page-title">
    <div class="container">
        <div class="row text-center" style="margin:100px 0 0 0;">
            <div class="col-lg-12 section-title wow flipInX">
                <h1><small>{{ portifolio.name}} </small><br><strong>{{portifolio.cliente}}</strong></h1>
            </div>
        </div>
    </div>
</section>

    
<div class="container">

    <div class="row" style="margin-bottom:40px;">
        <div class="col-lg-8">
            
            <div id="slider" class="flexslider">
              <ul class="slides">
                {% for image in portifolio.images %}
                    <li>
                        <img class="img-responsive" src="{{ image.path }}" />
                    </li>
                {% endfor %} 
              </ul>
            </div>

  
            
       <div class="action-5-info">
                <a href="{{portifolio.site}}" target="_blank" class="btn btn-primary btn-responsive">Visit Site</a>
        </div>    

        </div>

        <div class="col-lg-4">
            
            <div class="blog-widget-container">
                <h4>Descrição do projeto</h4>
                <p>{{portifolio.description}}</p>
            </div>

            <div class="blog-widget-container">
                <h4>Detalhes do Projeto</h4>
                
                <h5>Data: <small>{{portifolio.date_project|date("d-m-Y")}}</small></h5>
                <h5>Cliente: <small>{{portifolio.cliente}}</small></h5>
            </div>
        </div>
    </div>

</div><!-- End Container -->
